extends ../../layout/default.pug
include ../../mixin/box-head.pug

block main 
    .singer-detail 
        .container.my-3 
            .row 
                .col-12 
                    .inner-title #{song.title} 

                    .inner-action 
                        div(class="inner-action inner-time")
                            <i class="fa-regular fa-clock"></i> 16/07/2024
                        div(class="inner-action inner-singer")
                            <i class="fa-solid fa-microphone-lines"></i> #{singer.fullName} 
                        div(class="inner-action inner-topic")
                            <i class="fa-solid fa-music"></i> #{topic.title}
                        div(class="inner-action inner-like" button-like=song.id)
                            <i class="fa-solid fa-thumbs-up"></i> 
                            span #{song.like} thích
                        div(class="inner-action inner-heart" button-favorite=song.id)
                            <i class="fa-regular fa-heart"></i> Bài hát yêu thích 
                        
                    .inner-play 
                        .inner-avatar 
                            img(src=song.avatar)
                        .inner-audio
                            div(id="aplayer" data-song=song data-singer=singer)
                    
                    .inner-desc 
                        .inner-label Mô tả
                        .inner-text 
                            | !{song.description} 
                    
                    .inner-desc 
                        .inner-label Lời bài hát 
                        .inner-text
                            | !{song.lyrics}